{"interval": 1, "seed": 0, "laneChange": true, "dir": "./Map/Cityflowv2_map/", "roadnetFile": "Hangzhou/4_4/roadnet_4_4.json", "flowFile": "Hangzhou/4_4/anon_4_4_hangzhou_real_5816.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile0.json", "replayLogFile": "frontend/web/replayLogFile0.txt"}