{"interval": 1, "seed": 844, "laneChange": true, "dir": "./Map/data/", "roadnetFile": "Jinan/3_4/roadnet_3_4.json", "flowFile": "Jinan/3_4/anon_3_4_jinan_real.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile0.json", "replayLogFile": "frontend/web/replayLogFile0.txt"}